@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// FONT STYLE --------------------------------------
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-roboto: 'Roboto' sans-serif;

// COLORS  --------------------------------------
$white: #FFFFFF;
$fuego: #CCD324;
$olive-black: #333333;
