/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'modal';
@import 'step-container';

html,
body {
  height: 100%;
  background-color: $white-smoke;
}

body {
  margin: 0;
  font-family: $font-family-roboto;
}

.blue-btn {
  cursor: pointer;
  border: 1px solid $royal-blue;
  box-shadow: 0 4px 14px 0 rgba(0, 185, 255, 0.27);
  background-image: $btn-gradient;
  border-radius: 18px;
  height: 36px;
  width: 100px;
  font-size: 13px;
  color: $white;
  text-align: center;
  justify-content: center;
  justify-items: center;
  letter-spacing: 0.19px;
  display: flex;
  align-items: center;
  margin: 0;
}

.modal {
  @include modal;
}

.modal-large{
  @include modal-large
}

.step-container{
  @include step-container
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
}

.text-center {
  text-align: center;
}

