<div class="app-navbar">
  <mat-toolbar class="navbar-container">
    <a routerLink="/home" class="product-brand">
      Talent
      <span class="special">Surfer</span>
    </a>

    <h1 class="navbar-title" *ngIf="isUserSignedIn && accessLevel < 3">
      <a routerLink="/opportunity">
        Opportunity Management
      </a>
    </h1>

    <button mat-button [matMenuTriggerFor]="menu" class="navbar-item" *ngIf="isUserSignedIn && accessLevel < 3">
      Data Management
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="navbar-item-dropdown">
      <div class="navbar-item-dropdown-divisor"></div>
      <button *ngFor="let navLink of navLinks" mat-menu-item routerLink="{{navLink.link}}" class="navbar-item-dropdown-item">
        {{navLink.name}}
      </button>
    </mat-menu>

    <h1 class="navbar-title" *ngIf="isUserSignedIn && accessLevel === 1">
      <a routerLink="/security">
       Security
      </a>
    </h1>

    <div class="navbar-control" *ngIf="isUserSignedIn">
      <div class="navbar-control-item">
        <button mat-button [matMenuTriggerFor]="menu">
          <figure class="profile-figure" *ngIf="userProfileImage">
            <img class="user-profile-image" [src]="userProfileImage" alt="User Profile Image" />
          </figure>
          <mat-label>{{userProfileName}}</mat-label>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <div class="user-profile-menu">
            <h4 class="user-profile-name">{{userProfileName}}</h4>
            <button mat-menu-item (click)="signOut()">
              <mat-icon>exit_to_app</mat-icon> Sign Out
            </button>
          </div>
        </mat-menu>
      </div>
    </div>

  </mat-toolbar>
</div>
