@import 'variables';

.app-navbar {
    .navbar-container {
        background: $olive-black;
        font-family: $font-family-roboto;
        font-weight: 400;
        font-size: 16px;
        color: $white;
        text-align: left;
        line-height: 24px;
        width: 100%;
    }

    .navbar-container .product-brand {
        font-family: $font-family-montserrat;
        font-weight: bold;
        font-size: 21px;
        color: $white;
        letter-spacing: 0.3px;
        text-decoration: none;
    }

    .navbar-container .product-brand .special {
        color:$fuego;
    }

    .navbar-container .navbar-title{
        margin-left: 32px;
        margin-right: 32px;
    }

    .navbar-container .navbar-item {
        font-family: $font-family-roboto;
        font-weight: 500;
        font-size: 16px;
        color: $white;
        text-align: left;
        line-height: 24px;
        margin-right: 16px;
        padding-top: 3px;
    }

    .navbar-container .navbar-title a {
        text-decoration: none;
        font-family: $font-family-roboto;
        font-weight: 500;
        font-size: 16px;
        color: $white;
        text-align: left;
        line-height: 24px;
    }

    .navbar-item-dropdown.mat-menu-panel {
        background-color: $olive-black;
        color: $white;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        
    }

    .navbar-item-dropdown .navbar-item-dropdown-divisor {
        background-color: $fuego; 
        width: 100%; 
        height: 3px;
        margin-left: -16px;
        margin-top: -16px;
        margin-bottom: 16px;
    }

    .navbar-item-dropdown .navbar-item-dropdown-item {
        color: $white;
        font-family: $font-family-roboto;
        font-weight: 400;
        font-size: 14px;
        color: $white;
        text-align: left;
        line-height: 24px;
        height: 32px;
    }

    .navbar-container .navbar-control {
        position: absolute;
        right: 0px;
        padding-right: 16px;
        .mat-button-wrapper {
            display: flex;
            align-items: center;
        }
        .profile-figure {
            margin: 0 5px 0 0;
        }
    }

    .navbar-container .navbar-control .navbar-control-item {
        float: right;
    }

    .user-profile-image {
        position: absolute;
        border: 2px solid white;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        top: -2px;
        left: -30px;
    }

}

.mat-menu-panel {
    .mat-menu-content:not(:empty) {
        padding: 0px;
    }
}

.user-profile-menu  {
    .user-profile-name {
        padding: 10px;
        margin: 0;
        background: $ghost;
        color: $olive-black;
    }
    .mat-icon {
        padding: 0;
        margin: 0 5px 0 0;
    }
}
